body {
  background-color:#ffffff;
}




.imbue-<uniquifier> {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.comfortaa-<uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.title {
  font-family: imbue;
}

.text {
  font-family: comfortaa;
}