/* this is a css comment*/

body {
  background-color: #f9f9f9;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h1 {
 font-family: 'Playfair Display', serif;
 font-style: italic;
 color: #241773;
}
p {
  font-family: 'Playfair Display', serif;
}

.headerbox {
  background-color: #9E7C0C;
  padding: 20px 0 20px 0;
  text-align: center;
  margin: 20px 300px 25px 300px;
}

.leftcolumn {
  float: left;
  background-color: #241773;
  text-emphasis-color: white;
  padding: 20px 20px 10px 20px;
  margin: 5px 20px 20px 20px;
}

.rightcolumn {
  float: right;
  background-color: #241773 ;
  padding: 20px 20px 10px 20px;
  margin: 5px 20px 20px 5px;
}

.middlecolumn {
  background-color: #9E7C0C;
  padding: 30px 20px 20px 20px;
  margin: 5px 400px 20px 400px;
}



.infotext {
  color: white;
}


