body {
 font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Headline {
background-color:#B5E5F8;
height: 26vh;
}

h1 {
	font-weight:900;
}

.Box {
	background-color:#F7B0CC;
	font-size:1.25rem;
	color:#fff;
	font-weight:600;

}

.related {
	background-color:#ff0000;
	color:#fff;
	font-weight:600;
	text-align:center;
}

.footer {
	text-align:center;
	color:#ffffff;
	background-color:#333333;
	font-weight:600;
}

.pic {
	margin: auto;
	padding: auto;
	display: block;
	width: 50%;
}