body {
  background-color:#f4f4f4;
  font-family: "Poppins";
}

.headerbox {
  background-color: #e9cb20;
  padding: 20px;
}

.maintext {
width: 90%;
}

.sidebar {
  float: right;
  width: 400px;
  image-width: 100%;
  background-color: #666666;
  color: white;

}

h1 {
  font-family: "Poppins";
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;